@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-4">
        <h2>Enter Tracking ID and Carrier</h2>
        <form class="form-inline my-2 my-lg-0">
            <input id="input" class="form-control mr-sm-2" type="text" placeholder="Tracking ID"><br />
            <input id="input" class="form-control mr-sm-2" type="text" placeholder="Carrier"><br /><br />
            <button id="b1" class="btn btn-secondary my-2 my-sm-0" type="submit">Submit</button>
        </form>
    </div>

    @*<div class="col-md-4">*@
        <p id="or"><b>OR</b></p>
    @*</div>*@
    
    <div class="col-md-4">
        <h2>Enter Order Number</h2>
        <form class="form-inline my-2 my-lg-0">
            <input id="input" class="form-control mr-sm-2" type="text" placeholder="Order Number"><br /><br />
            <button id="b1" class="btn btn-secondary my-2 my-sm-0" type="submit">Submit</button>
        </form>
    </div>
</div>