@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col">
        <h2>Enter a tracking <br />number or order ID below.</h2><br />
        <form class="form-inline my-2 my-lg-0">
            <input id="input" class="form-control form-control-lg" type="text" placeholder="Tracking Number"><br /><br /><br />
            <button class="btn btn-primary btn-lg" type="button">Search</button>
        </form>
    </div>
</div>