body {
    /*padding-top: 50px;*/
    /*padding-bottom: 20px;*/
}

/* Set padding to keep content from hitting the edges */
.body-content {
    /*padding-top: 40px;*/
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.row {
    /*border: 2px solid black;*/
    text-align: center;
    width: 80%;
    left: 12%;
    position: relative;
    /*border: 2px solid black;*/
    border-radius: 25px;
}

#b1 {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#input {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#or {
    position: relative;
    text-align: center;
    top: 100px;
}

#OrBox {
    position: relative;
    top: 50px;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    /*border: 2px solid black;
    border-radius: 25px;*/
    padding-top: 20px;
    margin: 10px;
    text-align: center;
    width: 150px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
}

#title {
    text-align: center;
    background-color: black;
    color: white;
    padding-bottom: 20px;
}